---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  Bem vindo, visitante. Sou o Gabriel Medeiros, estudante do 4º período de Ciência da Computação pela Universidade Federal de Juiz de Fora - UFJF. 
  O objetivo desse site é disponibilizar informações importantes sobre minha carreira acadêmica e profissional a potenciais empregadores visto que busco estagiar na área de programação, além de servir para meu próprio aprendizado em HTML, CSS e YAML.
  As principais informações podem ser encontradas nas subpáginas do canto superior direito, enquanto, nos posts logo abaixo, projetos e desempenho em disciplinas são descritos de forma detalhada. No pé da página fica meu contato.
  Navegue como quiser e entre em contato se preferir. Espero que tenha uma boa experiência.

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>
